.container {
  width: calc(100% - 60rem);
  max-width: 1224rem;
  position: relative;
  border-radius: 16px;
  border: 1px solid #bfabab;
  background: #eae1e1;
  left: 50%;
  top: -100rem;
  transform: translate(-50%, 0);
  margin-bottom: 32rem;
}

.center {
  padding: 32rem 32rem 64rem;
}

.description {
  color: #877575;
  text-align: center;
}

.search_bar {
  margin-top: 31rem;
  max-width: 402rem;
  display: flex;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  flex-flow: column nowrap;
  gap: 4rem;
}

.search_bar_label {
  color: #aa9b9b;
  margin-left: 16rem;
  font-size: 14px;
}
.search_bar_input {
  padding: 8rem 16rem;
  color: #291f1f;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  height: 40rem;
  border: 1px solid #aa9b9b;
  background: #eae1e1;
}

@media screen and (max-width: 400px) {
  .container {
    width: 100%;
    top: -50rem;
  }

  .center {
    padding: 16rem 16rem 32rem;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
