.header {
  width: 100%;
  position: fixed;
  top: 0rem;
  height: 60rem;
  border-bottom: 1rem solid #3f3434;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eae1e1;
  z-index: 1;
}

.center {
  height: 100%;
  width: 100%;
  max-width: 1320rem;
  padding: 11rem 30rem;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 40rem;
}

.space {
  width: 100%;
  height: 60rem;
  position: relative;
  top: 0rem;
}
